[submodule "addons/ofxMightyUI"]
	path = addons/ofxMightyUI
	url = https://github.com/kritzikratzi/ofxMightyUI
[submodule "addons/ofxAvCodec"]
	path = addons/ofxAvCodec
	url = https://github.com/kritzikratzi/ofxAvCodec
[submodule "addons/ofxFontAwesome"]
	path = addons/ofxFontAwesome
	url = https://github.com/kritzikratzi/ofxFontAwesome
[submodule "addons/ofxFontStash2"]
	path = addons/ofxFontStash2
	url = https://github.com/kritzikratzi/ofxFontStash2
[submodule "addons/ofxNative"]
	path = addons/ofxNative
	url = https://github.com/kritzikratzi/ofxNative.git
[submodule "addons/ofxSpout"]
	path = addons/ofxSpout
	url = https://github.com/elliotwoods/ofxSpout.git
[submodule "addons/ofxSyphon"]
	path = addons/ofxSyphon
	url = https://github.com/astellato/ofxSyphon.git
